*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Poppins",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
}
ul {
    list-style-type: none;
}

.uporer-chobi{
    background: url('../images/header-background.jpg') no-repeat center/cover;
    max-height: 700px;
    overflow-x: hidden;
    position: relative;
}

body{
    display: block;
    margin:0px;
    padding:0px;
    z-index:0;
    
}

/* navs*/
.navbar,.navbar-while-scrolling{
    background: transparent;
    width:1366px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    align-items: center;
    position: fixed; 
    transition: background-color 0.5s ease-in-out;
    z-index: 2000;

 
   
    
}
.navbar-while-scrolling{
    background:#fd556c;
    backdrop-filter: blur(1rem);
    
}
.mobile-nav-items{
  
    top: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    opacity: 0.95;

    padding-right: 5rem;
    text-align: left;
    padding-bottom: 10rem;
    color: white;
    position: absolute;
    font-size:25px;


}

.mobile-nav-items.active{
    transform: translateX(0);
}
.burger-menu{
    display: none;
}
.logo{
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 80px;
    margin-left: 3rem ;
  
}
.nav-items{

    display: flex;
    flex-direction: row;
    gap: 3rem;
    z-index: 1000;
    
}
a{
    text-decoration: none;
}
.nav-item{
    color:aliceblue;
    font-size:15px;
}


/* Section hero*/
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.hero-wrapper{
    display: flex;
    flex-direction: row;
    padding:5rem;
    gap:5rem;
}
.hero-img{
    max-width:640px;
    max-height:480px;
}
.hero-part{
    display: flex;
    flex-direction: column;
    color:antiquewhite;
    font-size: 30px;
    gap: 0rem;
}
.hero-button,.see-details-button,.stats-button,.subscribe-button{
    font-family: "Poppins",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:inline-block;
    background-color: #DBA248;;
    border: 0;
    border-radius:35px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color:rgb(20, 20, 20);
    font-size: 19px;
    cursor:pointer;
    width: 250px;
    
}
.hero-text{
    font-size:20px;
}
.hero-button:hover,.see-details-button:hover,.stats-button:hover,.subscribe-button:hover{
    background-color: #f19f19;
}
.see-details-button{
    width:160px;
    
}

.wave{
    margin-top:0rem;
    position:relative;
    top:0px;
    left:0px;

    
}
/*chapter*/
.chapter-container,.chapter-summary-container,.summary-container,.takeaways-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
   
}

.chapter-text,.summary-text,.chapter-summary-text,.takeaways-text{
    display: flex;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 20px;
    margin-left: 20rem;
    margin-right: 20rem;
 
}
.takeaways-container{
    margin:3rem;

}
.takeaways-text{
    text-align: center;
}
.chapter-heading,.chapter-summary-heading,.summary-heading,.takeaways-heading{
    font-family:"Poppins",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(41, 40, 40);
}
.chapter-gallery{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
    padding-left: 3rem;
    padding-right: 3rem;

}
.gallery-item{
    display: flex;
    flex-direction: column;
    transition: transform .2s;
}
.gallery-item:hover{
    transform: scale(1.5);
    
}
.gal-image{
    height:150px;
    width: 250px;

}
.shape{
    clip-path: polygon(0 83%, 100% 83%, 100% 100%, 0% 100%);
    background-color:blueviolet;
    margin-top: -2rem;
}
/*summary*/
.summary-card-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left:5rem;
    padding-right:5rem;
    padding-top:2rem;
    gap:1rem;
}
.card-item{
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
.card-item:hover{
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}
.card-item img{
    height: 150px;
    width: 150px;
}
.card-item p{
    text-align: center;
}
/*objectives*/
.objectives{
    display: flex;
    flex-direction: column;
    padding-left:10rem;
    padding-right:10rem;
    gap:2rem;
}
.objective{
    display: flex;
    flex-direction: column;
    flex:1;
}
.objective-heading{
    background-color: #fd556c;
    padding:0.5rem;
    color:white;
    text-align: left;
    font-size:larger;
 
    
}
.objective p{
    font-family: 'Times New Roman', Times, serif;
}

/*Who container*/
.who-container{
    display: flex;
    flex-direction: row;
    margin-top:1rem;
}
.who-container img{
    flex:1;
    width: 100%;
    
}

.who-flex-item{
    display:flex;
    flex:1;
    color:white;
    max-height:480px;
    background-color: #fd556c;
}
.who-text-wrapper{
    padding: 3rem;
    
}
/*takeaways*/
.takeaway-cards{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
    padding:3rem;
}
.takeaway-card{
    display:flex;
    flex-direction: row;
    gap:1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.takeaway-text-wrap{
    display:flex;
    flex-direction: column;
    font-size: 15px;
}

/*Course detail section*/

.course-detail-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1rem;
    margin:5rem;
    gap:1rem;
    justify-items: start;
}
.course-image{
    justify-self:center; 
    
}
.author-image{
    justify-self:center;
    
}
.course-image img,.author-image img{
    height: 300px;
    width: 400px;   

    
}
.author-text-container{
    justify-self:right; 
   
    
     
}

.author-text-container{
    margin-top:1rem;
}
.author-text-container .see-details-button{
    margin-top: 3rem;
}
.author-feature{
   
    margin-bottom:0.3rem
}

/*course */
.get-course-section{
    background: url('../images/stats-background.jpg') no-repeat center/cover ;
    z-index: 1;
    padding: 1rem;

}
.course-flex{
    display: flex;
    flex-direction: row;
    color:white;
    align-items: center;

}
.course-flex img{
    width:650px;
    height:480px;
}

/*stats*/
.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2rem;
    gap:1rem;
}
.stats-report{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: left;
}
.stats-data h1{
    font-size: 35px;
    text-align: center;
    line-height: 1.5px;
}
.stats-data p{
    font-size: small;
    text-align: center;
}
.stats-button{
    width:200px;
}


/*newsletter*/
.newsletter-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5rem;

}
input{
    border:none;
}
.subscribe-button{
    width: 150px;
    height: 60px;
    font-size: 15px;
    text-align: center;
    padding:0px;
    margin-top:2rem;

}

/*social*/
.social-section{
    background-color: rgb(36, 35, 35);
    display: flex;
    flex-direction: column;
    color:white;
    align-items: center;
}

.socials{
    display: flex;
    flex-direction: row;
    gap:1rem;
    margin-bottom:30px;
}

.burger-button{
    color:white; 
    border-color: black;
    border-width: 5px;
    display: none;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    background-color:rgb(32, 32, 32);
    color:white;
    padding: 1rem;
    gap:5rem;
    text-align: center;
}
footer a{
    color:wheat;
    align-items: center;
    
}

.contact-hero{
    display: flex;
    background-color: #fd556c;
    color:white;
    font-size:30px;
    padding:5rem;
}
.contact-content{
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top:5rem;
    padding-left:15rem;
    padding-right:15rem;
    padding-bottom:15rem;
}
.form-flex{
    display: grid;
    flex:1;
    width: 100%;
    gap:2rem;
}
@media(max-width:768px){
    
    .hero-section{
        flex-direction: column;
        padding:0px;
        margin-top:1rem;
        
    }
    .hero-part{
        font-size: 35px;
    }
    .hero-text{
        font-size: 20px;
    }
    .hero-img{
        width:200px;
        height:200px;
    }
    .chapter-text{
        width: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .summary-card-flex{
        flex-direction: column;
       
    }
    

    
}
@media(max-width:1000px){
    .navbar{
        justify-content: left;
        gap:5rem;
        margin:-1rem;
        position:fixed;

    }
    
    .burger-button{
        display: block;
    }
    .hero-section{
        align-items: center;
        gap: 1rem;
    }
    .hero-wrapper{
        flex-direction: column;
        align-items: center;
        
    }
    .hero-wrapper img{
        height:300px;
        width:300px;
    }
    .hero-wrapper h1{
        font-size: 30px;

    }
    .hero-wrapper p{
        font-size: 20px;
    }
    .hero-button{
        width: 150px;
        height: 60px;
        font-size: 15px;
        padding:1rem;
    }
    .nav-item{
        display: none;
        
    }
    .burger-menu{
        display: block;
    }
    
    .who-container{
        flex-direction: column;
    }
    .chapter-gallery { grid-template-columns: repeat(1, 1fr); }
    .takeaway-cards{
      
        grid-template-columns: repeat(1,1fr);
    }
    .objectives{
        padding-left:1rem;
        padding-right:1rem;
        margin:0rem;
    }
    .chapter-text,.summary-text,.chapter-summary-text,.takeaways-text{
        font-size:15px;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .course-detail-section{
        grid-template-columns: repeat(1,1fr);
    }
    
    .course-detail-section{
        margin:0rem;
    }
    .hero-img{
        max-width:300px;
        max-height:200px;
    }
    .course-flex{
        display: flex;
        flex-direction: column;
    }
    .course-flex img{
        height: 300px;
        width: 300px;
        
    }
    .stats-report{
        flex-direction: column;
    }
   
}